.landing {
  text-align: center;
  margin-top: -20px;
  background: url('/assets/images/SistineChapel.jpg') no-repeat center -100px scroll;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 6px black;
  padding: {
    top: 160px;
    bottom: 160px;
  }
}
