<h3>Categories</h3>
<div class='list-group'>
  {{#link-to 'posts' (query-params category='null') class='list-group-item'}}Alle{{/link-to}}
  {{#each model key='id' as |category|}}
  {{#link-to 'posts' (query-params category=category.title) class='list-group-item'}}{{category.title}}{{/link-to}}
  {{/each}}
</div>
