<div class="jumbotron landing">
  <div class="container">
    <h1>Blog</h1>
    <p>We value the importance of software quality and innovation.<br>
    By practicing what we preach, we continuously improve our standards and raise the bar.</p>
  </div>
</div>
<div class='container'>
  <div class="row">
    <div class="col-sm-8">
      {{#each filteredPosts key='id' as |post|}}
      {{blog-post post=post}}
      {{/each}}
    </div>
    <div class="col-sm-3">
      {{outlet 'sidebar'}}
    </div>
  </div>
</div>

