<div class="jumbotron landing">
  <div class="container">
    <h1>Blog</h1>
    <p>{{t 'landing.text' }}</p>
  </div>
</div>
<div class='container'>
  <div class="row">
    <div class="col-sm-8 posts">
      {{#liquid-with filteredPosts as |liqFilteredPosts|}}
        {{#each liqFilteredPosts key='id' as |post|}}
        {{blog-post post=post}}
        {{/each}}
      {{/liquid-with}}
    </div>
    <div class="col-sm-3">
      {{outlet 'sidebar'}}
    </div>
  </div>
</div>

